<%# ---------- app/views/welcome/index.html.erb ---------- %>
<p><%= render :partial => 'layouts/top' %></p>
<p> ，"企业广告中心-信息群发"欢迎您</p>

<%= link_to '企业数据', companies_path %>
<p><%= link_to 'Signup >>', new_user_path %></p>
<p><%= link_to '<< Cancel', new_session_path %></p>
