
%table{:width=>"100%",:border=>"0",:align=>"center", :cellpadding=>"0",:cellspacing=>"0",:class=>"font05"}
  %tr
    %td{:width=>"30",:height=>"35",:align=>"center", :valign=>"middle",:background=>"/images/index_r1_c3.jpg"}
      &nbsp;
    %td{:align=>"left",:valign=>"middle", :background=>"/images/index_r1_c3.jpg"}添加关键字

  - form_for([@company,@seo_keyword]) do |f|
    %table{:width=>"100%",:border=>"0",:align=>"center", :cellpadding=>"5",:cellspacing=>"0"}
      %tr
        %td{:width=>"20",:height=>"24",:align=>"left" ,:valign=>"middle",:bgcolor=>"#EDF8FF"}
          &nbsp;
        %td{:width=>"210",:align=>"left",:valign=>"middle",:bgcolor=>"#EDF8FF",:class=>"font06"}
          ="关键字："
          %br
        %td{:align=>"left",:valign=>"middle"}
          =f.text_field :keyword
      %tr
        %td{:height=>"1",:colspan=>"3",:align=>"center", :valign=>"middle", :bgcolor=>"#76B6DC"}
  
    %table{:width=>"100%",:border=>"0",:align=>"center", :cellpadding=>"5",:cellspacing=>"0"}
      %tr
        %td{:width=>"20",:height=>"24",:align=>"left" ,:valign=>"middle",:bgcolor=>"#EDF8FF"}
          &nbsp;
        %td{:width=>"210",:align=>"left",:valign=>"middle", :bgcolor=>"#EDF8FF",:class=>"font06"}
          %br
        %td{:align=>"left", :valign=>"middle"}
          =f.submit "保存："
      %tr
        %td{:height=>"1",:colspan=>"3",:align=>"center", :valign=>"middle", :bgcolor=>"#76B6DC"}

%table{:width=>"100%",:border=>"0",:align=>"center", :cellpadding=>"0",:cellspacing=>"0"}
  %tr 
    %td{:width=>"35",:height=>"35",:align=>"center",:valign=>"middle",:bgcolor=>"#EEEEEE"}
      &nbsp;
    %td{:align=>"left",:valign=>"middle",:bgcolor=>"#EEEEEE"}
      %table{:border=>"0",:align=>"left",:cellpadding=>"0",:cellspacing=>"0"}
        %tr
          %td{:align=>"left",:valign=>"middle",:bgcolor=>"#FF6600"}
            &nbsp;
            =link_to('+返回关键字列表',company_seo_keywords_path(@company),:class=>"d")

